p.header{
    background-color: aquamarine;
}

p.footer{
    background-color: aqua;
}
.site-container {
    display: flex;
    width: 100vw;
    height: 100%;
}
.site-main {
    flex-basis: 70%;
}
.site-aside {
    flex-basis: 30%;
}